div.kt-aside__brand-logo a{
	font-size: 12pt;
	font-weight: bold;
	color: #f0f0f6;
}

span.top-menu {
	margin-left: 10px;
}

.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
	padding-top: 65px;
}

.kt-header {
	-webkit-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
	box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

div.kt-quick-panel {
	width: 625px !important;
}

.kt-quick-panel--right .kt-quick-panel {
	right: -625px;
	left: auto;
}

.detail-infomation-content {
	padding: 0px 20px 10px 50px;
}

.detail-information-staus {
	margin-top: 30px;
}

.detail-information-task-name {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 10px;
}

.detail-information-staus-title {
	font-size: 8pt;
}

.detail-information-staus-content {
	font-size: 14pt;
}

.detail-information-tags {
	margin-top: 30px;
}

.detail-information-task-date {
	margin-top: 30px;
	border-top: 1px solid;
	border-bottom:  1px solid;
	padding-top: 30px;
	padding-bottom: 30px;
}

.detail-content {
	color: black;
	letter-spacing: 2px;
}

.detail-information-description {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom:  1px solid;
}

.detail-information-task-memos {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom:  1px solid;
}

.detail-information-task-attachments {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom:  1px solid;
}